.wholePage{
  position:relative;
  width: 100%;
  height: 500px;

}

.formHeader{
  margin-left: 2%;
}

.editTable{
  margin-left: 20px;
  table-layout: fixed;
}

.editTable td {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.editTable td:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.editTableCellLeft{
  width: 150px;
  margin-right: 10px;
}

.editTableCellRight{
  width: 200px;
}

.editHeader{
  margin-left: -1%;
  text-align: center;
}

.editSubHeading{
  margin-left: -1%;
  text-align: center;
  line-height: 50%;
}

.editHeader:hover{
  cursor: text !important;
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255,0.8);
}

.subEdit{
  position: absolute;
  z-index: 1000;
  margin-top: 425px;
  width: 400px;
  height: 75px;
}

.subEdit input{
  text-indent: 5px;
  border: none;
  margin-left: 10%;
  width: 80%;
  height: 68px;
  font-size: 30px;
  background: linear-gradient(rgba(255, 255, 255,0.3), rgba(255, 255, 255,0.4), rgba(255, 255, 255,0.3));
}

.subEdit input:focus{
  outline: none !important;
}

.tableHeader{
  margin-left: 2%;
  height: 1.35em;
}

.formBox{
  overflow-x: visible;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom:2%;
}

.nameAndEmail{
  position: relative;
  float:left;
  width:71%;
  height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  margin: 1em 0;
  padding: 0;
}

.form-control::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}

.btn{
  background: rgba(0, 0, 0, 0.05);
  color: white;
  border: 0.5px solid;
  border-color: rgba(0, 0, 0,0.08);
  border-bottom: none;
  margin-left: 5px;
}

.btn:hover{
  background: transparent;
  color: white;
  box-shadow: -1px 2px 7px 1px rgba(6, 121, 240,0.8);
  border-color: #0679F0;
}

.formButtons{
  position: absolute;
  right: 5px;
  bottom: 15px;
}

.closeButton{
  position: absolute;
  left: 5px;
  bottom: 15px;
}

.formPictureContainer{
  position: relative;
  float: left;
  margin-left: 1%;
  margin-top: 1px;
  height: auto;
  width: auto;
  cursor: pointer;
}

.formPicture{
  width: 108px;
  height: 111px;
  position: absolute;
  overflow: hidden;
}

.formPicture:hover{
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255,0.8);
}

.editPictureContainer{
  position: relative;
  margin-left: 75px;
  margin-top: 5%;
  height: 250px;
  width: 250px;
  cursor: pointer;
  float: left;
}

.editPicture{
  width: 250px;
  height: 250px;
  position: absolute;
  overflow: hidden;
}

.editPicture:hover{
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255,0.8);
}

.companyAndNotes{
  position: relative;
  margin-top: 0px;
  padding-top:0px;
  float:left;
  width: 100%;
}

.formHalf{
  position: relative;
  height: 100%;
  float: left;
  background: linear-gradient(#0060F0, #0679F0);
  color: white;
  -webkit-user-select: none;
  cursor: default;

}

.formHalfHidden{
  position: relative;
  width: 25px;
  height: 100%;
  float: left;
  z-index: 10000;
  cursor: pointer;
  background: linear-gradient(#0060F0, #0679F0);
  color: white;
}

.contactTableButton{
  font-size: 17px;
  cursor: pointer !important;
  color: rgba(0, 0, 0, 0.7);
}

.contactTableButton:hover{
  color: rgba(6, 121, 240,1);
}

.formHalfHidden:hover{
  box-shadow: 0px -2px 7px 1px rgba(6, 121, 240,0.8);
}

.formTopHalf{
  height: 125px;
}

.tableHalf{
  -webkit-user-select: none;
  cursor: default;
  position: relative;
  height: 100%;
  width: 250px;
  float: left;
}

.tableContainer{
  position: relative;
  overflow-y: auto;
  height: 90%;
}

.tableAndEdit{
  position: relative;
  width: auto;
  max-width: 800px;
  height: 100%;
  float: left;
}
.some{
  background: linear-gradient(#F03390, #F05590, #D08810);
}
.editHalf{
  position: relative;
  height: 500px;
  float: left;
  background: linear-gradient(#F2AB3F, #F2A13C);
  color: white;
  -webkit-user-select: none;
  cursor: default;
}

.modal-container {
  position: relative;
 }
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
