.wholePage{
  position:relative;
  width: 100%;
  height: 500px;

}

.formHeader{
  margin-left: 2%;
}

.editTable{
  margin-top: -10px;
  margin-left: 10px;
  table-layout: fixed;
}

.editTable td {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 40px;

}

.editTableCell{
  width:390px;
  margin-right: 10px;
}

.editTableCellInput{
  position: absolute;
  margin-left: 10px;
  text-indent: 5px;
  border: none;
  width: 320px;
  height: 30px;
  color: white;
  background: rgba(255, 255, 255,0.07);
  padding-top: 10px;
  padding-bottom: 10px;
}

.iconButton{
   text-shadow: '2px 2px 8px #000000';
}

.editTableCellInput:focus{
  border: none;
  outline:none;
  background: rgba(255, 255, 255,0.13);
}

.editTableCellInput::-webkit-input-placeholder {
  font-style: italic;
  color: rgba(255, 255, 255,0.5) !important;
}

.editTableCellInput:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255,0.5) !important;
}

.editTableCellInput::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(255, 255, 255,0.5) !important;
}

.editTableCellInput:-ms-input-placeholder {
  color: rgba(255, 255, 255,0.5) !important;
}

.tableHeader{
  margin-left: 2%;
  height: 1.35em;
}

.formBox{
  overflow-x: visible;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom:2%;
}

.nameAndEmail{
  position: relative;
  float:left;
  width:71%;
  height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  margin: 1em 0;
  padding: 0;
}

.form-control::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}

.btn{
  background: rgba(0, 0, 0, 0.05);
  color: white;
  border: 0.5px solid;
  border-color: rgba(0, 0, 0,0.08);
  border-bottom: none;
  margin-left: 5px;
}

.btn:hover{
  background: transparent;
  color: white;
  box-shadow: -1px 2px 7px 1px rgba(6, 121, 240,0.8);
  border-color: #0679F0;
}

.formButtons{
  position: absolute;
  right: 5px;
  bottom: 15px;
}

.closeButton{
  position: absolute;
  left: 5px;
  bottom: 15px;
}

.formPictureContainer{
  position: relative;
  float: left;
  margin-left: 1%;
  margin-top: 1px;
  height: auto;
  width: auto;
  cursor: pointer;
}

.formPicture{
  width: 108px;
  height: 111px;
  position: absolute;
  overflow: hidden;
}

.formPicture:hover{
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255,0.8);
}

.editPictureContainer{
  position: relative;
  margin-left: 95px;
  margin-top: 5%;
  height: 220px;
  width: 220px;
  cursor: pointer;
  float: left;
}

.editPicture{
  width: 220px;
  height: 220px;
  position: absolute;
  overflow: hidden;
}

.editPicture:hover{
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255,0.8);
}

.companyAndNotes{
  position: relative;
  margin-top: 0px;
  padding-top:0px;
  float:left;
  width: 100%;
}

.formHalf{
  position: relative;
  height: 100%;
  float: left;
  background: linear-gradient(  #9698E0, #6C6EA0);
  color: white;
  -webkit-user-select: none;
  cursor: default;

}

.formHalfHidden{
  position: relative;
  width: 25px;
  height: 100%;
  float: left;
  z-index: 10000;
  cursor: pointer;
  background: linear-gradient(#9698E0, #6C6EA0);
  color: white;
}

.contactTableButton{
  font-size: 17px;
  cursor: pointer !important;
  color: rgba(0, 0, 0, 0.7);
}

.contactTableButton:hover{
  color: rgba(6, 121, 240,1);
}

.formHalfHidden:hover{
  box-shadow: 0px -2px 7px 1px rgba(6, 121, 240,0.8);
}

.formTopHalf{
  height: 125px;
}

.tableHalf{
  -webkit-user-select: none;
  cursor: default;
  position: relative;
  height: 100%;
  width: 250px;
  float: left;
  background: linear-gradient( #E0FBFC);
}

.tableContainer{
  position: relative;
  overflow-y: auto;
  height: 90%;
}

.tableAndEdit{
  position: relative;
  width: auto;
  max-width: 800px;
  height: 100%;
  float: left;
}
.some{
  background: linear-gradient(#F03390, #F05590, #D08810);
  background: linear-gradient(#0060F0, #0679F0);
  background: linear-gradient(#F2AB3F, #F2A13C);
  rgba(6, 255, 168,1)
  background: linear-gradient(#00FFA1, #00C4F0);
  background: linear-gradient(  #9698E0, #6C6EA0);
  background: linear-gradient( #E0FBFC, #EE6C4D);
  background: linear-gradient( #E0FBFC, #4C5760);
}
.editHalf{
  position: relative;
  height: 500px;
  float: left;
  background: linear-gradient( #9698E0, #EE6C4D);
  color: white;
  -webkit-user-select: none;
  cursor: default;
}

.modal-container {
  position: relative;
 }
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
